@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

.help-page {
    background-color: #314b4c;
    color: #e7c2ba;
    width: calc(100vw - 300px);
    height: calc(100vh - 100px);
    margin-left: calc(100vw - (100vw - 300px));
    padding-top: calc(100vh - (100vh - 100px));
    display: flex;
    align-items: flex-start;
}
