@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.login-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
}

.login-page .left,
.login-page .right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}
.login-page .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #f3f3f3;
    background-color: #617475;
}

.login-page .left h1 {
    font-family: "MuseoModerno", cursive;
    font-size: 2.8em;
    color: #e0ab4b;
}

.login-page .right {
    background-color: #314b4c;
}

.login-page .right form.login {
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.login-page .right form.login h1 {
    font-family: "Poppins", sans-serif;
    color: #e7c2ba;
    font-size: 2.5em;
}

.login-page .right form.login .email,
.login-page .right form.login .password {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.login-page .right form.login .email p {
    font-size: 0.8em;
    color: red;
}

.login-page .right form.login label {
    font-size: 1.5em;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.login-page .right form.login input {
    font-family: "Poppins", sans-serif;
    line-height: 3;
    width: 95%;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-size: 1.2em;
    align-self: center;
    box-shadow: 1px 2px 5px #7c7c7c;
    background-color: #e7c2ba;
    color: #655551;
}

.login-page .right form.login button {
    font-family: "Poppins", sans-serif;
    line-height: 3.5;
    width: 60%;
    border-style: none;
    border-radius: 20px;
    transition: 0.3s;
    background-color: #e7c2ba;
    color: #655551;
    font-size: 1.15em;
    box-shadow: 1px 2px 5px #7c7c7c;
}

.login-page .right form.login button:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.login-page .right form.login p {
    color: #fff;
}

.login-page .right form.login a {
    font-family: "Poppins", sans-serif;
    color: #e7c2ba;
    text-decoration: none;
}
