@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.topnav {
    width: 100vw;
    height: 100px;
    background-color: #314b4c;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav .text-wrapper {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav h1.logo-title {
    font-family: "MuseoModerno", cursive;
    color: #e0ab4b;
    margin-left: 20px;
    font-size: 2.7em;
}

.topnav h1.user {
    font-family: "Poppins", sans-serif;
    color: #f3f3f3;
    margin-right: 20px;
}

.sidenav {
    height: calc(100vh - 100px);
    width: 300px;
    background-color: #627475;
    position: fixed;
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
}

.sidenav .sidenav-ul {
    height: 90%;
    width: 90%;
    margin-top: 30px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidenav .sidenav-ul .sidenav-li {
    color: #f3f3f3;
    line-height: 3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    list-style-type: none;
    padding-left: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

.sidenav .sidenav-ul .bottom {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidenav .sidenav-ul .bottom #btn-logout {
    font-family: "Poppins", sans-serif;
    line-height: 2;
    width: 80%;
    border-style: none;
    border-radius: 20px;
    transition: 0.3s;
    background-color: #e7c2ba;
    color: #655551;
    font-size: 1.15em;
    box-shadow: 1px 2px 5px #7c7c7c;
}

.sidenav .sidenav-ul #btn-logout:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

#active {
    background-color: #314b4c;
}
