@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

.summary-page {
    width: calc(100vw - 300px);
    height: calc(100vh - 100px);
    margin-left: calc(100vw - (100vw - 300px));
    padding-top: calc(100vh - (100vh - 100px));
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #314b4c;
}

.summary-page .left {
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #e7c2ba;
}

.summary-page .filter-date {
    width: 25%;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    padding: 5px 2px;
}

.summary-page .filter-date label {
    font-size: 1.15em;
    color: #e7c2ba;
    font-family: "Poppins", sans-serif;
}

.summary-page .filter-date input {
    width: 40%;
    background-color: #e7c2ba;
    color: #655551;
    outline: none;
    border-style: none;
    border-radius: 20px;
    padding: 5px;
}

.summary-page .filter-date button {
    width: 40%;
    font-family: "Poppins", sans-serif;
    padding: 5px;
    border-radius: 20px;
    width: 40%;
    width: 70px;
    border-style: none;
    transition: 0.3s;
    background-color: #e7c2ba;
    color: #655551;
}

.summary-page .filter-date button:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.summary-page .left .summary-table {
    width: 50%;
    height: auto;
}

.summary-page .left .summary-table .row {
    width: 100%;
    line-height: 3;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0ab4b;
    font-size: 1.2em;
}

.summary-page .left .summary-table .row .item-date {
    width: 33%;
    text-align: left;
}
.summary-page .left .summary-table .row .item-amount,
.summary-page .left .summary-table .row .item-totalPrice {
    width: 33%;
    text-align: center;
}
